xdocbook/xsd/element-description.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.xtpxlib.nl/ns/xdocbook"
  xmlns:xtlxdb="http://www.xtpxlib.nl/ns/xdocbook">

  <xs:element name="insert-global-descriptions">
    <xs:annotation>
      <xs:documentation>Use this element in the db5 contents to insert global descriptions. Add either a @href to an external file with global-description or add the global-descriptions inline.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="xtlxdb:global-descriptions">
          <xs:annotation>
            <xs:documentation>Inline element description. This has precedence over the @href attribute.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="href" type="xtlxdb:t-href">
        <xs:annotation>
          <xs:documentation>Reference to an external global-descriptions document</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="global-descriptions">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="xtlxdb:g-element"/>
        <xs:group ref="xtlxdb:g-attribute"/>
        <xs:group ref="xtlxdb:g-type"/>
        <xs:group ref="xtlxdb:g-enum"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert-element-description">
    <xs:annotation>
      <xs:documentation>Use this element in the db5 contents to trigger the generation of an element description. Add either a @href to an external file with an element-description or add the element-description inline.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="xtlxdb:element-description">
          <xs:annotation>
            <xs:documentation>Inline element description. This has precedence over the @href attribute.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="href" type="xtlxdb:t-href">
        <xs:annotation>
          <xs:documentation>Reference to an external element-description document</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="simple" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>When true only a simple description will be added. No attribute/element tables.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="element-description">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="xtlxdb:g-description" minOccurs="0">
          <xs:annotation>
            <xs:documentation>General description of this element</xs:documentation>
          </xs:annotation>
        </xs:group>
        <xs:element minOccurs="0" name="attribute-table-header" type="xtlxdb:ct-docbook-contents"/>
        <xs:group maxOccurs="unbounded" minOccurs="0" ref="xtlxdb:g-attribute">
          <xs:annotation>
            <xs:documentation>Attributes on the element</xs:documentation>
          </xs:annotation>
        </xs:group>
        <xs:element minOccurs="0" name="element-table-header" type="xtlxdb:ct-docbook-contents"/>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Either straight elements or a choice of elements</xs:documentation>
          </xs:annotation>
          <xs:group ref="xtlxdb:g-element"/>
          <xs:element name="choice">
            <xs:complexType>
              <xs:group ref="xtlxdb:g-element" maxOccurs="unbounded"/>
              <xs:attributeGroup ref="xtlxdb:ag-occurrences"/>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:element minOccurs="0" name="additional-text-coded-description">
          <xs:annotation>
            <xs:documentation>Some additional text to display as the element's content in the coded description part. Use pipe characters (|) to break lines.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute default="false" name="as-comment" type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>Whether to display the additional text as an XML comment or not</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xtlxdb:t-xmlname" use="required">
        <xs:annotation>
          <xs:documentation>The name of the element to describe</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="id" type="xtlxdb:t-identifier">
        <xs:annotation>
          <xs:documentation>If not given the id will become: element-{@name} (with invalid characters replaced by underscores)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:group name="g-description">
    <xs:sequence>
      <xs:element name="description" type="xtlxdb:ct-docbook-contents"> </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="g-type">
    <xs:sequence>
      <xs:element name="type">
        <xs:complexType>
          <xs:sequence>
            <xs:group minOccurs="0" ref="xtlxdb:g-description">
              <xs:annotation>
                <xs:documentation>Additional description for this type</xs:documentation>
              </xs:annotation>
            </xs:group>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="xtlxdb:g-enum"/>
          </xs:sequence>
          <xs:attribute name="name" type="xtlxdb:t-typename" use="required">
            <xs:annotation>
              <xs:documentation>Type name</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="base" type="xtlxdb:t-typename">
            <xs:annotation>
              <xs:documentation>Optional base name for this type (e.g. xs:string). If not present the name will be used</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="xtlxdb:ag-use-global"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="g-enum">
    <xs:sequence>
      <xs:element name="enum">
        <xs:annotation>
          <xs:documentation>Enumeration of allowed values</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:group ref="xtlxdb:g-description" minOccurs="0"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
          <xs:attributeGroup ref="xtlxdb:ag-describe"/>
          <xs:attributeGroup ref="xtlxdb:ag-use-global"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="g-element">
    <xs:choice>
      <xs:element name="element">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="xtlxdb:g-description" minOccurs="0"/>
            <xs:group ref="xtlxdb:g-type" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="name" type="xtlxdb:t-xmlname" use="required">
            <xs:annotation>
              <xs:documentation>Name of the element</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="xtlxdb:ag-occurrences"/>
          <xs:attributeGroup ref="xtlxdb:ag-describe"/>
          <xs:attributeGroup ref="xtlxdb:ag-use-global"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="element-placeholder">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute default="false" name="as-comment" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>Whether to display the additional text as an XML comment or not</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:group name="g-attribute">
    <xs:sequence>
      <xs:element name="attribute">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="xtlxdb:g-description" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Description of the attribute</xs:documentation>
              </xs:annotation>
            </xs:group>
            <xs:group ref="xtlxdb:g-type" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Type information for the attribute. </xs:documentation>
              </xs:annotation>
            </xs:group>
          </xs:sequence>
          <xs:attribute name="name" type="xtlxdb:t-xmlname" use="required">
            <xs:annotation>
              <xs:documentation>Name of the attribute</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute default="false" name="required" type="xs:boolean"/>
          <xs:attribute name="default" type="xs:string">
            <xs:annotation>
              <xs:documentation>Optional default value for the attribute</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="xtlxdb:ag-describe"/>
          <xs:attributeGroup ref="xtlxdb:ag-use-global"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="ct-docbook-contents">
    <xs:annotation>
      <xs:documentation>Any contents here in the empty or the xtlxdb namespace is converted into docbook contents</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any maxOccurs="unbounded" namespace="##any" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:attributeGroup name="ag-occurrences">
    <xs:annotation>
      <xs:documentation>Number of occurrences for something. For now simple but might change.</xs:documentation>
    </xs:annotation>
    <xs:attribute default="1" name="occurs">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1"/>
          <xs:enumeration value="+"/>
          <xs:enumeration value="*"/>
          <xs:enumeration value="?"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ag-use-global">
    <xs:attribute default="false" name="use-global" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>If true search for a global description/definition and use this</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ag-describe">
    <xs:attribute default="true" name="describe" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Whether to describe this attribute/element in the description table</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="t-identifier">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="t-xmlname">
    <xs:annotation>
      <xs:documentation>XML name with/without prefix. TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="t-typename">
    <xs:annotation>
      <xs:documentation>The name of a data type for an element or attribute</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="t-href">
    <xs:annotation>
      <xs:documentation>A reference to a file</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>
