common/xsd/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
  targetNamespace="http://www.xtpxlib.nl/ns/common" xmlns="http://www.xtpxlib.nl/ns/common">
  <xs:annotation>
    <xs:documentation>Schema for messages created by the library. Use common/xslmod/message.mod.xsl for generating the messages.</xs:documentation>
  </xs:annotation>
  <xs:element name="message">
    <xs:annotation>
      <xs:documentation>A message generated by this library</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="text" type="xs:string">
          <xs:annotation>
            <xs:documentation>The actual text of the message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="status" type="t-status" use="required">
        <xs:annotation>
          <xs:documentation>The status of this message</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="timestamp" type="xs:dateTime" use="required">
        <xs:annotation>
          <xs:documentation>The date/time this message was generated</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##any" processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="t-status">
    <xs:annotation>
      <xs:documentation>Message status</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ok"/>
      <xs:enumeration value="warning"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="debug"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
